
{extend name="public/container"}
{block name='head_top'}
<style>
    body{background-color:#fff;}
</style>
{/block}
{block name='title'}开始学习{/block}
{block name="content"}
<div class="become-promoter" id="app">
    <div style="text-align: center">
        <img :src="logo" height="120">
    </div>
    <div class="phone">
        <ul class="list">
            <li class="item"><input type="text" placeholder="输入手机号" v-model="phone"></li>
            <li class="item itemCode acea-row row-between-wrapper">
                <input type="number" placeholder="输入验证码" v-model="code_num">
                <button id="captcha-btn" class="code acea-row row-center-wrapper" :disabled="active" :class="active == true?'on':''" @click="code" v-text="timetext">获取验证码</button>
            </li>
        </ul>
        <div class="bnt acea-row row-center-wrapper" @click="save_promoter">加入学习</div>
    </div>
    <div id="slide-captcha" class="slide-captcha"></div>
{include file="public/store_menu"}
</div>
{/block}
{block name="foot"}
<script>
    var spread_uid={$spread_uid},logo='{$home_logo}';
    require(['vue','helper','store','reg-verify','{__WAP_PATH}/js/quick.js'],function(Vue,$h,app,$reg) {
        new Vue({
            el: '#app',
            data: {
                active:false,
                timetext:'获取验证码',
                phone:'',
                code_num:'',
                logo: logo
            },
            mounted: function(){
                if (typeof slide_captcha === 'undefined' || !slide_captcha) {
                    return
                }
                var vm = this;
                $('#slide-captcha').slideVerify({
                    baseUrl: slide_captcha_api,  //服务器请求地址, 默认地址为安吉服务器;
                    mode: 'pop',     //展示模式
                    containerId: 'captcha-btn',//pop模式 必填 被点击之后出现行为验证码的元素id
                    imgSize : {       //图片的大小对象,有默认值{ width: '310px',height: '155px'},可省略
                        width: '300px',
                        height: '150px',
                    },
                    barSize:{          //下方滑块的大小对象,有默认值{ width: '310px',height: '50px'},可省略
                        width: '200px',
                        height: '30px',
                    },
                    beforeCheck:function(){
                        if (!vm.phone) {
                            $h.pushMsgOnce('请输入手机号码')
                            return false;
                        }
                        if (!/^1[3456789]\d{9}$/.test(vm.phone)) {
                            $h.pushMsgOnce('请输入正确的手机号码')
                            return false;
                        }
                        return true
                    },
                    ready : function() {},  //加载完毕的回调
                    success : function(params) { //成功的回调
                        vm.active = true;
                        var n = 60;
                        app.basePost($h.U({
                            c: 'auth_api',
                            a: 'code'
                        }),{
                            phone: vm.phone,
                            token: params.data.token,
                            pointJson: params.data.pointJson,
                            captchaType: 'blockPuzzle'
                        }, function (res) {
                            var data = res.data.data;
                            if (data.Message == 'OK' || data.Code == 'OK') {
                                var run =setInterval(function(){
                                    n--;
                                    if(n<0){
                                        clearInterval(run);
                                    }
                                    vm.timetext = "剩余 "+n+"s";
                                    if(vm.timetext<"剩余 "+0+"s"){
                                        vm.active = false;
                                        vm.timetext = "重发";
                                    }
                                },1000);
                            } else {
                                $h.pushMsgOnce(data.Message);
                                vm.active = false;
                            }
                        },function (res) {
                            vm.active =false;
                        })
                    },
                    error : function() {}        //失败的回调
                });
            },
            methods:{
                save_promoter:function(){
                    var that=this;
                    if(!this.phone) return $h.pushMsgOnce('请输入手机号码');
                    if(!$reg.isPhone(this.phone)) return $h.pushMsgOnce('您输入的手机号码不正确');
                    if(!that.code_num) return $h.pushMsgOnce('请输入验证码');
                    $h.loadFFF();
                    app.basePost($h.U({c:'spread',a:'save_promoter',q:{spread_uid:spread_uid}}),{phone:this.phone,code:this.code_num},function (res) {
                        $h.loadClear();
                        $h.pushMsg(res.data.msg, function () {
                            window.location.assign($h.U({c:'index',a:'index'}));
                        });
                    },function () {
                        $h.loadClear();
                    });
                },
                code:function () {
                    if (typeof slide_captcha !== 'undefined' && slide_captcha) {
                        return
                    }
                    var that = this;
                    if(!that.phone) return $h.pushMsgOnce('请输入手机号码');
                    if(!$reg.isPhone(that.phone)) return $h.pushMsgOnce('请输入正确的手机号码');
                    that.active = true;
                    var n = 60;
                    app.basePost($h.U({c:'auth_api',a:'code'}), {phone:that.phone},function (res){
                        var data=res.data.data;
                        if(data.Message=='OK' || data.Code=='OK'){
                            var run =setInterval(function(){
                                n--;
                                if(n<0){
                                    clearInterval(run);
                                }
                                that.timetext = "剩余 "+n+"s";
                                if(that.timetext<"剩余 "+0+"s"){
                                    that.active = false;
                                    that.timetext = "重发";
                                }
                            },1000);
                        }else{
                            $h.pushMsgOnce(data.Message);
                            that.active =false;
                        }
                    },function (res) {
                        that.active =false;
                    });
                }
            }
        });
    })
</script>
{/block}
