
<link rel="stylesheet" href="{$Think.const.IMG_DOMAIN}{__WAP_PATH}/css/reset.css" />
<link rel="stylesheet" href="{$Think.const.IMG_DOMAIN}{__WAP_PATH}/css/base.css">
<link rel="stylesheet" href="{$Think.const.IMG_DOMAIN}{__WAP_PATH}/iconfont/iconfont.css?v=1638175803" />
<link rel="stylesheet" href="{$Think.const.IMG_DOMAIN}{__WAP_PATH}/css/style.min.css?v=1638175803" />
<link rel="stylesheet" href="/system/frame/css/font-awesome.min.css" media="all">
<script src="{$Think.const.IMG_DOMAIN}{__PLUG_PATH}jquery-1.10.2.min.js"></script>
<script src="{$Think.const.IMG_DOMAIN}{__WAP_PATH}/iconfont/iconfont1/iconfont.js?v=1638175803"></script>
<script src="{$Think.const.IMG_DOMAIN}{__WAP_PATH}/iconfont/iconfont3/iconfont.js?v=1638175803"></script>
<script src="{$Think.const.IMG_DOMAIN}{__WAP_PATH}/js/media_750.js"></script>
<script src="{$Think.const.IMG_DOMAIN}{__WAP_PATH}/js/font.js"></script>
