{extend name="public/container"}
{block name="title"}精品课程{/block}
{block name="app"}
<base-header ref="baseHeader" :public-data="publicData" :user-info="userInfo" @login-open="loginOpen"
             @login-close="loginClose"></base-header>
</base-header>
<div class="layout">
    <div class="container">
        <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item><a :href="router.home">首页</a></el-breadcrumb-item>
            <el-breadcrumb-item>精品课程</el-breadcrumb-item>
        </el-breadcrumb>
        <!-- 课程列表开始 -->
        <div class="container_curriculum_list">
            <div v-if="unifiendList.length" class="container_curriculum_list_con">
                <div class="container_curriculum_list_item" v-for="item in unifiendList" :key="item.id" @click="handleSelectDetils(item)">
                    <div class="container_curriculum_list_item_image">
                        <img class="image" :src="item.image" :alt="item.title">
                        <img v-if="item.type == 1" class="type" src="{$Think.const.IMG_DOMAIN}{__PUBLIC_WEB_PATH}pc/images/course3.png" alt="图文">
                        <img v-else-if="item.type == 2" class="type" src="{$Think.const.IMG_DOMAIN}{__PUBLIC_WEB_PATH}pc/images/course2.png" alt="音频">
                        <img v-else-if="item.type == 3" class="type" src="{$Think.const.IMG_DOMAIN}{__PUBLIC_WEB_PATH}pc/images/course1.png" alt="视频">
                        <img v-else-if="item.type == 4" class="type" src="{$Think.const.IMG_DOMAIN}{__PUBLIC_WEB_PATH}pc/images/course4.png" alt="直播">
                        <img v-else-if="item.type == 5" class="type" src="{$Think.const.IMG_DOMAIN}{__PUBLIC_WEB_PATH}pc/images/course5.png" alt="套餐课">
                    </div>
                    <div class="course">
                        <div class="course_title">
                            <span>{{item.title}}</span>
                        </div>
                        <div class="label-count">
                            <div class="label-group">
                                <div v-for="label in item.label" class="label">{{ label }}</div>
                            </div>
                            <div v-if="item.type !== 4 && !item.is_light">共{{ item.count }}节</div>
                        </div>
                        <div class="browse-money">
                            <div>{{ item.browse_count }}人学习</div>
                            <div v-if="item.pay_type == 1" class="money">￥<span>{{ item.money }}</span></div>
                            <div v-else-if="item.pay_type == 0" class="money free">免费</div>
                            <div v-else-if="item.pay_type == 2" class="money free">加密</div>
                        </div>
                    </div>
                </div>
            </div>
            <el-empty v-if="!unifiendList.length" image="{$Think.const.IMG_DOMAIN}{__PUBLIC_WEB_PATH}pc/images/empty1.png" description=" "></el-empty>
        </div>
        <!-- 课程列表结束 -->
        <div v-if="unifiendList.length" class="pagination">
            <el-pagination :current-page.sync="page" :page-size="limit" layout="prev, pager, next" :total="total" prev-text="上一页" next-text="下一页" @current-change="currentChange"></el-pagination>
        </div>
    </div>
</div>
<base-footer :public-data="publicData"></base-footer>
<base-login :login-visible="loginVisible" :agree-content="agreeContent" :public-data="publicData"
            @login-close="loginClose" @agree-open="agreeOpen"></base-login>
<base-agree :agree-visible="agreeVisible" :agree-content="agreeContent" @agree-close="agreeClose"></base-agree>
{/block}
{block name="vm"}
<script>
    require([
        'vue',
        'ELEMENT',
        'components/base_header/index',
        'components/base_footer/index',
        'components/base_login/index',
        'components/base_agree/index',
        'mixins/base',
        'mixins/router',
        'api/home',
        'scripts/util',
        'css!styles/classification.css'
    ], function (Vue, ELEMENT, BaseHeader, BaseFooter, BaseLogin, BaseAgree, baseMixin, routerMixin, homeApi, util) {
        Vue.use(ELEMENT);
        new Vue({
            el: '#app',
            components: {
                'base-header': BaseHeader,
                'base-footer': BaseFooter,
                'base-login': BaseLogin,
                'base-agree': BaseAgree
            },
            mixins: [baseMixin, routerMixin],
            data: {
                courseList: [],
                page: 1,
                limit: 16,
                recommend_id: '',
                type: '',
                unifiendList: [],
                total: 0
            },
            computed: {

            },
            watch: {
                
            },
            created: function () {
                this.recommend_id = util.getParmas('recommend_id');
                this.type = util.getParmas('type');
                this.get_unifiend_list();
            },
            methods: {
                // 课程列表
                get_unifiend_list: function () {
                    var vm = this;
                    homeApi.get_unifiend_list({
                        page: this.page,
                        limit: this.limit,
                        recommend_id: this.recommend_id,
                        type: this.type
                    }).then(function (res) {
                        vm.unifiendList = res.data.list;
                        vm.total = res.data.count;
                    }).catch(function (err) {
                        vm.$message.error(err.msg);
                    });
                },
                // 点击分页
                currentChange: function () {
                    this.get_unifiend_list();
                },
                // 点击课程
                handleSelectDetils: function (val) {
                    window.location.href = (val.is_light ? this.router.single_details : this.router.special_details) + '?id=' + val.id + '&from=more_list&type=' + this.type + '&recommend_id=' + this.recommend_id;
                }
            }
        });
    });
</script>
{/block}
