{extend name="public/container"}
{block name="title"}图文课程{/block}
{block name="app"}
<div v-cloak id="app" class="text-detail">
    <base-header></base-header>
    <div class="detail">
        <div class="detail-inner">
            <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                <el-breadcrumb-item>精品课程</el-breadcrumb-item>
                <el-breadcrumb-item>详情课程</el-breadcrumb-item>
            </el-breadcrumb>
            <!-- <el-row :gutter="30">
                <el-col :span="12">
                    <el-image src="/web/images/test.png" fit="cover">
                        <div slot="error" class="image-slot">
                            <i class="el-icon-picture-outline"></i>
                        </div>
                    </el-image>
                </el-col>
                <el-col :span="12">
                    <div class="title">
                        <div class="title-inner">摄影前期技巧分享-大光圈和小光圈的运用</div>
                    </div>
                    <div class="price">
                        <div>价格：</div>
                        <div class="money">￥<span>199.00</span></div>
                        <div>851人已下载</div>
                    </div>
                    <el-button>立即购买</el-button>
                </el-col>
            </el-row> -->
        </div>
    </div>
    <div class="main">
        <div class="title">图文内容</div>
        <div></div>
    </div>
    <base-footer></base-footer>
</div>
{/block}
{block name="vm"}
<script>
    require([
        'vue',
        'ELEMENT',
        'components/base_header/index',
        'components/base_footer/index'
    ], function (Vue, ELEMENT, BaseHeader, BaseFooter) {
        Vue.use(ELEMENT);
        var vm = new Vue({
            el: '#app',
            components: {
                'base-header': BaseHeader,
                'base-footer': BaseFooter
            },
            data: {},
            methods: {

            }
        });
    });
</script>
{/block}