{extend name="public/container"}
{block name="title"}{$titles}-{$public_data.site_name}{/block}
{block name="style"}
<style>
    body{
        background-color: #f5f8fa;
    }
</style>
{/block}
{block name="app"}
{include file='public/top' /}
<div class="wy-exam-page">
    <div v-show="questions.length" class="wy-exam-header">
        <a
            class="el-button el-button--default el-button--small"
            :href="'{:url('/exam-sheet')}?test_id=' + test_id + '&record_id=' + e_id + '&index=' + activeIndex + '&is_analysis=' + is_analysis + '&txamination_time=' + txamination_time + '&exam_time=' + duration"
        >
            <i class="el-icon-notebook-2"></i> 查看答题卡
        </a>
        <div class="wy-exam-header-meta">
            <div class="wy-exam-header-meta-item" v-if="!is_analysis">已用时长：<em>{{ duration | formatTime }}</em></div>
            <div class="wy-exam-header-meta-item">考试时长：<em>{{txamination_time}}</em>分钟</div>
        </div>
    </div>
    <div class="swiper-container test-question">
        <div class="swiper-wrapper">
            <div v-for="(item, index) in questions" :key="item.id" class="swiper-slide">
                <div class="test-question-desc">
                    <div class="test-question-title">
                        <span class="test-question-type">{{ item.question_type | covertType }}</span>{{ item.stem }}
                    </div>
                    <img class="test-question-img" v-if="item.image" :src="fx_cdn_img(item.image)">
                    <div :class="{ image: item.is_img }" class="test-question-label-group">
                        <template v-for="option in item.options">
                            <label :class="{ right: item.is_correct && option.right && is_analysis, wrong: item.is_correct && is_analysis && !option.right && (option.key === item.user_answer || item.user_answer.indexOf(option.key) !== -1)}" v-if="option.value" :key="option.key">
                                <input v-if="item.question_type === 2" v-model="item.user_answer" :value="option.key" type="checkbox">
                                <input v-else v-model="item.user_answer" :value="option.key" type="radio">
                                <div class="test-question-option">
                                    <img v-if="item.is_img" :src="fx_cdn_img(option.value)">
                                    <template v-else>{{ option.value }}</template>
                                    <i class="el-icon-circle-check" v-show="item.is_correct && is_analysis && option.right"></i>
                                    <i class="el-icon-circle-close" v-show="item.is_correct && is_analysis && !option.right && (option.key === item.user_answer || item.user_answer.indexOf(option.key) !== -1)"></i>
                                </div>
                            </label>
                        </template>
                    </div>
                </div>
                <div v-show="is_analysis" class="test-analysis">
                    <div class="test-analysis-status" :class="{ wrong: item.is_correct === 1 }">
                        <i class="el-icon-circle-close" v-if="item.is_correct === 1"></i>
                        <i class="el-icon-circle-check" v-else></i>
                        {{ item.is_correct === 1 ? '回答错误' : '回答正确' }}
                    </div>
                    <div class="test-analysis-answer">
                        <span>正确答案：<em>{{ item.answer }}</em></span>
                        <span>您的答案：<em>{{ item.user_answer.toString() }}</em></span>
                    </div>
                    <div class="test-question-star">
                        试题难度：
                        <el-rate
                                :value="item.difficulty"
                                disabled
                                show-score
                                text-color="#ff9900"
                                score-template="{value}星">
                        </el-rate>
                    </div>
                    <div class="test-analysis-title">答案解析：</div>
                    <div class="test-analysis-content" v-html="item.analysis"></div>
                    <div v-if="item.special.length" class="test-knowledge-title">关联知识点：</div>
                    <ul class="test-knowledge-list">
                        <li
                                class="test-knowledge-item"
                                v-for="special in item.special"
                                :key="special.id"
                        >
                            <a
                                    :href="(special.is_light ? '{:url('/single-course')}' : '{:url('/view-course')}') + '?id=' + special.id"
                            >{{ special.title }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div v-show="questions.length" class="test-question-button-group">
        <el-button round @click="prevQuestion" icon="el-icon-back" v-show="activeIndex > 0">上一题</el-button>
        <el-button round @click="nextQuestion" v-show="activeIndex < questions.length - 1">下一题<i class="el-icon-right el-icon--right"></i></el-button>
        <el-button v-if="questions[activeIndex] && questions[activeIndex].question_type === 2 && !is_analysis" type="primary" round @click="submitCurrentQuestion">提交本题</el-button>
        <el-button v-if="!is_analysis && activeIndex === questions.length - 1" type="primary" round @click="submit">提交试卷</el-button>
    </div>
</div>
{include file='public/footer' /}
<base-login :login-visible="loginVisible" :agree-content="agreeContent" :public-data="publicData" @login-close="loginClose" @agree-open="agreeOpen"></base-login>
<base-agree :agree-visible="agreeVisible" :agree-content="agreeContent" @agree-close="agreeClose"></base-agree>
{/block}
{block name="vm"}
<script>
    require([
        'vue',
        'ELEMENT',
        'components/base_login/index',
        'components/base_agree/index',
        'mixins/base',
        'mixins/router',
        'swiper',
        'scripts/util',
        'api/exam'
    ], function (Vue, ELEMENT, BaseLogin, BaseAgree, baseMixin, routerMixin, Swiper, util, examApi) {
        Vue.use(ELEMENT);
        var vm = new Vue({
            el: '#app',
            components: {
                'base-login': BaseLogin,
                'base-agree': BaseAgree
            },
            mixins: [baseMixin, routerMixin],
            filters: {
                covertType: function (type) {
                    var result = '判断题';
                    switch (type) {
                        case 1:
                            result = '单选题';
                            break;
                        case 2:
                            result = '多选题';
                            break;
                    }
                    return result;
                },
                formatTime: function (time) {
                    var hour = Math.floor(time / 3600000);
                    var minute = Math.floor((time - hour * 3600000) / 60000);
                    var second = Math.floor((time - hour * 3600000 - minute * 60000) / 1000);

                    if (hour < 10) {
                        hour = '0' + hour;
                    }
                    if (minute < 10) {
                        minute = '0' + minute;
                    }
                    if (second < 10) {
                        second = '0' + second;
                    }

                    return hour + ':' + minute + ':' + second;
                }
            },
            data: {
                swiperOption: {
                    pagination: {
                        el: '.swiper-pagination',
                        type: 'fraction'
                    },
                    preventClicks: false,
                    observer: true,
                    observeParents: true,
                    autoHeight: true,
                    allowTouchMove: false,
                    observeSlideChildren: true
                },
                activeIndex: 0,
                questions: [],
                test_id: '',
                e_id: 0,
                startTime: new Date(),
                duration: 0,
                is_analysis: 0,
                txamination_time: 0,
                questionGuide: null,
                submitProblem: {}
            },
            watch: {
            },
            computed: {
                activeQuestion: function () {
                    return this.questions[this.activeIndex];
                }
            },
            created: function () {
                this.test_id = util.getParmas('test_id');
                if (util.getParmas('txamination_time')) {
                    this.txamination_time = parseInt(util.getParmas('txamination_time'));
                }

                if (util.getCookie('exam_time')) {
                    if (util.getCookie('exam_time') === 'NaN') {
                        this.exam_time = 0;
                    } else {
                        this.exam_time = parseInt(util.getCookie('exam_time'));
                    }
                } else {
                    this.exam_time = 0;
                }

                if (util.getParmas('index')) {
                    this.initialSlide = util.getParmas('index');
                }

                if (util.getParmas('e_id') && parseInt(util.getParmas('is_analysis'))) {
                    this.is_analysis = 1;
                    this.e_id = util.getParmas('e_id');
                    this.getQuestions();
                } else {
                    this.getSituation();
                    this.setTimer();
                }

                this.questionGuide = localStorage.getItem('question_guide');
            },
            mounted: function () {
                this.$nextTick(function () {
                    this.swiper = new Swiper('.swiper-container', this.swiperOption);
                    this.swiper.on('observerUpdate, slideChange', this.slideChange);
                    this.swiper.on('slidePrevTransitionEnd', this.slidePrevTransitionEnd);
                    this.swiper.on('slideNextTransitionEnd', this.slideNextTransitionEnd);
                    if (this.initialSlide) {
                        this.swiper.slideTo(this.initialSlide);
                    }
                });
            },
            methods: {
                prevQuestion: function () {
                    this.swiper.slidePrev()
                },
                nextQuestion: function () {
                    this.swiper.slideNext()
                },
                // 获取状态
                getSituation: function () {
                    var vm = this
                    examApi.get_situation({
                        id: this.test_id
                    }).then(function (res) {
                        if (res.code === 400) {
                            vm.$message({
                                message: res.msg,
                                type: 'warning'
                            });
                            return;
                        }
                        switch (res.data) {
                            case 0:
                                vm.getAnswer();
                                break;
                            case 1:
                                vm.getAnswerAgain();
                                break;
                            case 2:
                                vm.getAnswerContinue();
                                break;
                        }
                    }).catch(function (err) {

                    }).then(function () {
                    });
                },
                // 开始答题
                getAnswer: function () {
                    examApi.get_answer({
                        test_id: this.test_id,
                        type: 2
                    }).then(function (res) {
                        if (res.code === 200) {
                            vm.e_id = res.data;
                            util.setCookie('e_id', vm.e_id);
                            vm.getQuestions();
                        } else {
                            vm.$message({
                                message: res.msg,
                                type: 'warning',
                                onClose: function () {
                                    window.location = "{:url('/my')}?page=exam";
                                }
                            });
                        }
                    }).catch(function (err) {

                    }).then(function () {
                    });
                },
                // 再次答题
                getAnswerAgain: function () {
                    var vm = this
                    examApi.get_answer_again({
                        test_id: this.test_id,
                        type: 2
                    }).then(function (res) {
                        if (res.code === 200) {
                            vm.e_id = res.data;
                            util.setCookie('e_id', vm.e_id);
                            vm.getQuestions();
                        } else {
                            vm.$message({
                                message: res.msg,
                                type: 'warning',
                                onClose: function () {
                                    window.location = "{:url('/my')}?page=exam";
                                }
                            });
                        }
                    }).catch(function (err) {
                        vm.$message({
                            message: err,
                            type: 'warning',
                            onClose: function () {
                                window.location = "{:url('/my')}?page=exam";
                            }
                        });
                    }).then(function () {
                    });
                },
                // 继续答题
                getAnswerContinue: function () {
                    var vm = this
                    examApi.get_answer_continue({
                        test_id: this.test_id,
                        type: 2
                    }).then(function (res) {
                        if (res.code === 200) {
                            vm.e_id=res.data;
                            util.setCookie('e_id', vm.e_id);
                            vm.getQuestions();
                        } else {
                            vm.$message({
                                message: res.msg,
                                type: 'warning',
                                onClose: function () {
                                    window.location = "{:url('/my')}?page=exam";
                                }
                            });
                        }
                    }).catch(function (err) {

                    }).then(function () {
                    });
                },
                // 获取考试题
                getQuestions: function () {
                    examApi.get_questions({
                        test_id: this.test_id,
                        record_id: this.e_id,
                        type: 2
                    }).then(function (res) {
                        if (res.code === 400) {
                            vm.$message({
                                message: res.msg,
                                type: 'warning'
                            });
                            return;
                        }
                        vm.txamination_time = res.data.exam.txamination_time

                        var questions = res.data.question;
                        questions.forEach(function (question) {
                            var answers = question.answer.split(',');
                            question.options = [];
                            if (Array.isArray(question.option)) {
                                question.option.forEach(function (item, index) {
                                    var right = false;
                                    for (var i = answers.length; i--;) {
                                        if (answers[i] === String.fromCharCode(index + 65)) {
                                            right = true;
                                            break;
                                        }
                                    }
                                    question.options.push({
                                        key: String.fromCharCode(index + 65),
                                        value: item,
                                        right: right
                                    });
                                });
                            } else {
                                for (var key in question.option) {
                                    if (Object.hasOwnProperty.call(question.option, key)) {
                                        var right = false;
                                        for (var i = answers.length; i--;) {
                                            if (answers[i] === key) {
                                                right = true;
                                                break;
                                            }
                                        }
                                        question.options.push({
                                            key: key,
                                            value: question.option[key],
                                            right: right
                                        });
                                    }
                                }
                            }
                            if (!Array.isArray(question.userAnswer)) {
                                Object.assign(question, question.userAnswer);
                            }
                            if ('user_answer' in question) {
                                if (question.question_type === 2) {
                                    question.user_answer = question.user_answer.split(',');
                                }
                            } else {
                                question.user_answer = question.question_type === 2 ? [] : '';
                            }
                            if (!('is_correct' in question)) {
                                question.is_correct = 0;
                            }
                        });
                        vm.questions = questions;
                    }).catch(function (err) {

                    }).then(function () {
                    });
                },
                // 提交试题
                submitQuestion: function () {
                    if (this.is_analysis) {
                        return;
                    }
                    var question = this.submitProblem;
                    var data = {
                        e_id: this.e_id,
                        questions_id: question.questions_id,
                        answer: question.answer,
                        // score: question.score,
                        type: 2
                    };

                    if (typeof question.user_answer === 'string') {
                        data.user_answer = question.user_answer;
                        data.is_correct = question.answer === question.user_answer ? 2 : 1;
                    } else {
                        var answer = question.answer.split(',');

                        if (answer.length === question.user_answer.length) {
                            if (answer.toString() === question.user_answer.toString()) {
                                data.is_correct = 2;
                            } else {
                                data.is_correct = answer.sort().toString() === question.user_answer.sort().toString() ? 2 : 1;
                            }
                        } else {
                            data.is_correct = 1;
                        }

                        data.user_answer = question.user_answer.sort().toString();
                    }
                    data.score = data.is_correct == 2 ? question.score : 0;
                    examApi.submit_questions(data).then(function (res) {
                        var resData = res;
                        if (resData.code === 200) {
                            question.is_correct = data.is_correct;
                        } else {
                            vm.$message({
                                message: resData.msg,
                                type: 'warning'
                            });
                        }
                    }).catch(function (err) {

                    }).then(function () {
                    });
                },
                // 当前题目下标
                slideChange: function () {
                    this.activeIndex = this.swiper.activeIndex;
                },
                // 上一题
                slidePrevTransitionEnd: function () {
                    this.submitProblem = this.questions[this.swiper.activeIndex + 1];
                    if (this.submitProblem && this.submitProblem.user_answer.length) {
                        this.submitQuestion();
                    }
                },
                // 下一题
                slideNextTransitionEnd: function () {
                    this.submitProblem = this.questions[this.swiper.activeIndex - 1];
                    if (this.submitProblem && this.submitProblem.user_answer.length) {
                        this.submitQuestion();
                    }
                },
                // 计时器
                setTimer: function () {
                    window.addEventListener('pagehide', function () {
                        util.setCookie('exam_time', vm.duration);
                    });
                    var timer = setInterval(function () {
                        vm.duration = new Date() - vm.startTime + vm.exam_time;
                        if (vm.txamination_time * 60000 <= vm.duration) {
                            clearInterval(timer);
                            vm.$message({
                                message: '考试时间已到',
                                onClose: function () {
                                    vm.submit();
                                }
                            });
                        }
                    }, 1000);
                },
                // 提交考试
                submit: function () {
                    var submitProblem = this.questions[this.activeIndex];
                    if (submitProblem.user_answer.length) {
                        var question = submitProblem;
                        var data = {
                            e_id: this.e_id,
                            questions_id: question.questions_id,
                            answer: question.answer,
                            score: question.score,
                            type: 2
                        };

                        if (typeof question.user_answer === 'string') {
                            data.user_answer = question.user_answer;
                            data.is_correct = question.answer === question.user_answer ? 2 : 1;
                        } else {
                            var answer = question.answer.split(',');

                            if (answer.length === question.user_answer.length) {
                                if (answer.toString() === question.user_answer.toString()) {
                                    data.is_correct = 2;
                                } else {
                                    data.is_correct = answer.sort().toString() === question.user_answer.sort().toString() ? 2 : 1;
                                }
                            } else {
                                data.is_correct = 1;
                            }

                            data.user_answer = question.user_answer.sort().toString();
                        }
                        examApi.submit_questions(data).then(function (res) {
                            var resData = res;
                            if (resData.code === 200) {
                                question.is_correct = data.is_correct;
                                window.location = "{:url('/exam-sheet')}?test_id=" + vm.test_id + '&record_id=' + vm.e_id + '&index=' + vm.activeIndex + '&is_analysis=' + vm.is_analysis + '&txamination_time=' + vm.txamination_time;
                            } else {
                                vm.$message({
                                    message: resData.msg,
                                    type: 'warning'
                                });
                            }
                        }).catch(function (err) {

                        }).then(function () {
                        });
                    } else {
                        window.location = "{:url('/exam-sheet')}?test_id=" + vm.test_id + '&record_id=' + vm.e_id + '&index=' + vm.activeIndex + '&is_analysis=' + vm.is_analysis + '&txamination_time=' + vm.txamination_time;
                    }
                },
                // 提交本题
                submitCurrentQuestion: function () {
                    var submitProblem = this.questions[this.activeIndex];
                    if (submitProblem.user_answer.length) {
                        var question = submitProblem;
                        var data = {
                            e_id: this.e_id,
                            questions_id: question.questions_id,
                            answer: question.answer,
                            score: question.score,
                            type: 2
                        };

                        if (typeof question.user_answer === 'string') {
                            data.user_answer = question.user_answer;
                            data.is_correct = question.answer === question.user_answer ? 2 : 1;
                        } else {
                            var answer = question.answer.split(',');

                            if (answer.length === question.user_answer.length) {
                                if (answer.toString() === question.user_answer.toString()) {
                                    data.is_correct = 2;
                                } else {
                                    data.is_correct = answer.sort().toString() === question.user_answer.sort().toString() ? 2 : 1;
                                }
                            } else {
                                data.is_correct = 1;
                            }

                            data.user_answer = question.user_answer.sort().toString();
                        }
                        examApi.submit_questions(data).then(function (res) {
                            var resData = res;
                            if (200 === resData.code) {
                                question.is_correct = data.is_correct;
                                if (vm.activeIndex !== vm.questions.length - 1) {
                                    if (!vm.questions[vm.activeIndex + 1].is_correct) {
                                        vm.swiper.slideNext();
                                    }
                                }
                            } else {
                                layer.msg(resData.msg);
                            }
                        }).catch(function (err) {

                        }).then(function () {
                        })
                    } else {
                        vm.$message({
                            message: '请选择答案',
                            type: 'warning'
                        });
                    }
                }
            }
        })
    })
</script>
{/block}
